/* Barra de navegacion */
.navbar {
  padding: 1rem; 
  background-color: #000617;  
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  color: #00FFF7;
  font-family: 'Quicksand', sans-serif;
}
.nav-link:hover {
  color: white;
}
.nav-link:focus{
  color: white;
}

/* Adaptable */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media  screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}

.seccion-oscura {  
  background-color: #000617;
  padding: 1rem 0;
}

.parrafo-claro {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: white;  
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: gray;
}

.seccion-texto {
  font-size: 1.2rem;
  color: white;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion principal (hero) */
.hero {
  background-color: #000A23;  
  text-align: center;
}

.hero-principal {
  padding: 2rem 2rem;
}

.perfil {
  display: flex;
  flex-direction: column; 
  align-items: center;  
}

.info-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; /* Opcional, para ocupar toda la altura */
}

.hero-image-dev {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.hero-image-tec {
  width: 100%;
  padding: 3em 0;
}

.hero-principal h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #00FFF7;  
}

.hero-principal h2 {
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: white;
}

.contenedor-imagen-portada {
  width: 75vw;
  max-width: 600px;
  min-width: 320px;
  margin: auto;
}

/* Sobre mi */
.sobre-mi {  
  padding: 10px;
  background-color: #000A23;
}

.sobre-mi .contenedor {  
  text-align: center;
}

.sobre-mi-titulo {
  color: #00FFF7;
  font-family: 'Quicksand', sans-serif;
  padding: 1rem 0;
}


/* Experiencia */
.experiencia {
  background-color: #000A23;
  padding: 8rem 4rem;
}

.experiencia .columna {  
  font-family: 'Quicksand', sans-serif;
  background-color: #000617;
  color: white;
  padding: 40px 20px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: #000617;
  background-color: white;  
}

.experiencia-titulo {  
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.experiencia i {
  font-size: 2.5rem;
  color: #000617;
  background-color: #00FFF7;
  padding: 8px 19px;
  border-radius: 50%;
}

.badges-contenedor {
  font-size: 20px; 
  margin: 10px 0;
}

.badgaes {
  margin: 5px;
}

/* Proyectos */
.proyectos-recientes {
  padding: 40px;
  background-color: #000A23;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-recientes-titulo {
  color: #00FFF7;
  font-family: 'Quicksand', sans-serif;
}

.proyectos-contenedor{
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-family: 'Quicksand', sans-serif;
  color: #00FFF7;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: #00FFF7;
  font-size: 60px;
  margin: 10px;
}

/* Footer*/

.footer-icono {
  width: 90px;
  height: 90px;
  margin: 20px;
}

.iconos-redes-sociales a {
  color: #00FFF7;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid #00FFF7;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}