:root {
  --primary-black: #222831;
  --secondary-black: #393E46;
  --teal: #00ADB5;
  --gray: #EEEEEE;
}

/* Body */

.custom-background-dark {
  background-color: var(--primary-black);
}

.custom-background-gray {
  background-color: var(--secondary-black);
}

/* Navbar */

.navbar {
  padding: 1rem; 
  background-color: var(--primary-black);  
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: var(--teal);
  font-family: "Fira Code", monospace;
}

.nav-link:hover {
  color: var(--gray);
}

.nav-link:focus{
  color: var(--gray);
}

/* Hero */

.hero-image-dev {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

/* Text format */

.custom-text-teal {
  color: var(--teal);
  font-family: "Fira Code", monospace;
  text-align: center;
}

.custom-text-gray {
  color: var(--gray);
  font-family: "Fira Code", monospace;
}

.info-project {
  background-color: var(--primary-black);
  padding: 2rem;
}

/* Footer */

.footer-icon {
  width: 6rem;
  height: 6rem;
  margin: 1rem;
}

.social-media-icon a {
  color: var(--primary-black);
  background-color: var(--teal);
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.social-media-icon a:hover {
  transform: scale(1.15);
}